
  <footer>
    <div class="slate">
      <div class="four columns">
        <h5>Find me on twitter <a href="https://twitter.com/ccollicutt">@ccollicutt</a></h5>
        <div class="tweet"></div>
      </div>
      <div class="four columns">
        <h5>On the web</h5>
        <a href="http://github.com/ccollicutt"><button class="github"><i class="fa fa-github"></i></button></a>
        <a href="http://news.ycombinator.com/user?id=serverascode"><button class="hackernews"><i class="fa fa-hacker-news"></i></button></a>

      </div>
    </div>
  </footer>

  <!-- JS
  ================================================== -->
  <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script src="js/jquery.tweet.js"></script>
  <script src="js/jquery.fitvids.js"></script>
  <script src="js/respond.min.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
  <script src="js/script.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-24993723-1', 'serverascode.com');
  ga('send', 'pageview');

</script>

<!-- End Document
================================================== -->
</body>
</html>
