
  <footer>
    <div class="slate">
      <div class="four columns">
        <h5>Find me on twitter <a href="#">@serverascode</a></h5>
        <div class="tweet"></div>
      </div>
      <div class="four columns">
        <h5>On the web</h5>
        <a href="http://github.com/curtisgithub"><button class="github"><i class="fa fa-github"></i></button></a>
        <a href="http://news.ycombinator.com/user?id=serverascode"><button class="hackernews"><i class="fa fa-hacker-news"></i></button></a>

      </div>
    </div>
  </footer>

  <!-- JS
  ================================================== -->
  <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script src="js/jquery.tweet.js"></script>
  <script src="js/jquery.fitvids.js"></script>
  <script src="js/respond.min.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
  <script src="js/script.js"></script>


<!-- End Document
================================================== -->
</body>
</html>