<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>


	<!-- Twitter cards -->
	<meta name="twitter:site"    content="@{{ site.twitter_username }}">
	<meta name="twitter:creator" content="@{{ site.twitter_username }}">
	<meta name="twitter:title"   content="{{ page.title }}">

	{% if page.summary %}
	<meta name="twitter:description" content="{{ page.summary }}">
	{% else %}
	<meta name="twitter:description" content="{{ site.description }}">
	{% endif %}

	{% if page.header_image %}
	<meta name="twitter:card"  content="summary_large_image">
	<meta name="twitter:image" content="{{ site.url }}{{ page.header_image }}">
	{% else %}
	<meta name="twitter:card"  content="summary">
	<meta name="twitter:image" content="{{ site.title_image }}">
	{% endif %}
	<!-- end of Twitter cards -->
	<!-- linked in -->
	<meta property="og:image" content="{{ site.url }}{{ page.header_image }}" />
	<!-- end of linked in -->



	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>{{ page.title }}</title>

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
  	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,800' rel='stylesheet' type='text/css'>

  	<!--
	<link rel="stylesheet" href="/css/font-awesome-ie7.css">
	<link rel="stylesheet" href="/css/font-awesome.css">
	-->
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

	<link rel="stylesheet" href="/css/style.css">


	<link rel="stylesheet" href="/css/code.css">
	<link rel="stylesheet" href="/css/table.css">

	<link rel="stylesheet" href="/css/atelier-dune-dark.css">
	<!-- <link rel="stylesheet"
	href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/default.min.css"> -->
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/default.min.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/vs2015.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="img/favicon.ico">

</head>
<body>

	<!-- Primary Page Layout
	================================================== -->
	<header>
		<!--<h4 class="logo"><a href="/">SERVERASCODE</a></h4>-->
		<a href="/"><img src="/img/logonew.png" alt="logo"></a>
		<div class="menubutton"><i class="icon-reorder"></i></div>
		<nav>
			<ul>

				<li><a href="/atom.xml">RSS</a></li>
			</ul>

			<div class="search_popup">
				<form>
					<input type="text" value="Search..." onfocus="if (this.value == 'Search...') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search...';}"></input>
					<button type="submit">Search</button>
				</form>
			</div>
		</nav>
		<br class="clear" />
	</header>
