---
layout: default
title: serverascode.
---

{% include header.html %}

<!--
<div class="post_image">
    <a href="http://www.wikiart.org/en/claude-monet/the-rocks-of-belle-lle"><img src="/img/wikiart/the-rocks-of-belle-lle.jpg" alt="The Rocks of Belle Isle"></a>
</div>
-->

  <section>

    <div class="archives">

        {{ content }}

          <h2>Open Source Projects</h2>
          <ul class="posts">
           <li><a href="https://registry.hub.docker.com/u/serverascode/swift-onlyone/">Swift OnlyOne:</a> A Docker image of a version of Swift All in one that has one device and one replicate.</li>
             <li><a href="https://github.com/ccollicutt/swiftacular">Swiftacular:</a> A set of Ansible roles to deploy an OpenStack Swift cluster.</li>
             <li><a href="https://github.com/ccollicutt/pound">Ansible Pound:</a> An Ansible role to deploy the pound loadbalancer.</li>
              <li><a href="https://forge.puppetlabs.com/serverascode/saio">Puppet SAIO:</a> A Puppet module to deploy OpenStack Swift All-in-one.</li>
              <li><a href="https://forge.puppetlabs.com/serverascode/pound">Puppet Pound:</a> A Puppet module to deploy the pound loadbalancer.</li>
               <li><a href="https://github.com/ansible/ansible/blob/devel/library/monitoring/boundary_meter">boundary_meter:</a> A Boundary module for the Ansible configuration management system.</li>
                <li><a href="http://github.com/ccollicutt/kicker">kicker:</a> A python CLI to create Redhat Kickstart files from base templates.</li>
         </ul>

    </div>

    <br class="clear" />
  </section>

{% include footer.html %}
