---
layout: post
---

{% include header.html %}


  {% if page.header_image %}
<div class="post_image">
    <a href="{{ page.header_permalink }}"><img src="{{ page.header_image }}" alt="painting"></a>
</div>
  {% endif %}


	<section>
		<div class="eight columns">
		   <!--
			<h4 class="post_title"><a href="single-post.html">{{ page.title }}</a></h4>
			<a href="archive.html"><span class="post_date">{{ page.date }}</span></a>
			-->

			{{ content }}

		<!--

		<div class="metadata">
			<span><i class="icon-pencil"></i><a href="archive.html">Writer</a></span>
			<span><i class="icon-time"></i><a href="archive.html">Date</a></span>
			<span><i class="icon-list"></i><a href="archive.html">Tags/Category</a></span>
		</div>

		-->

		<hr />
	
		</div>
		<br class="clear" />
	</section>

{% include footer.html %}

